<html>

<head>

</head>

<body class="text-left">

    <header id="nav-bar">
        <div class="container">
            <div class="top-nav">
                <a class="navbar-brand" href="#">
                    <img src="assets/images/booklogo1.png" alt="Responsive image">
                </a>
            </div>
        </div>

        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <!-- <li class="nav-item">
                            <a class="nav-link" href=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="registration"><i class="fa fa-user-plus" aria-hidden="true"></i>
                                Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="bookpost"><i class="fa fa-book" aria-hidden="true"></i> Post a
                                Book</a>
                        </li> -->
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="login"><i class="fa fa-sign-in" aria-hidden="true"></i>
                                Login</a>
                        </li>
                    </ul>
                </div>
            </div>
            <span class="tagline">secondhandbookstore.in</span>
        </nav>

    </header>
    <section class="login">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-md-2">
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-register">
                        <h1 class="text-center"><b>Create Account</b></h1>
                        <label>Username</label>
                        <label for="inputtext" class="sr-only">Username</label>
                        <input type="text" class="form-control" placeholder="username" formControlName="username"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">username is required</div>
                        </div>
                        
                        <label>Password</label>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                            formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 8 [a-z,A-Z,0-9] characters</div>
                        </div>
                        <label>Conform Password</label>
                        <label for="inputPassword" class="sr-only">Confirm Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password"
                            formControlName="rpassword" [ngClass]="{ 'is-invalid': submitted && f.rpassword.errors }">
                        <div *ngIf="submitted && f.rpassword.errors" class="invalid-feedback">
                            <div *ngIf="f.rpassword.errors.minlength">Password must be at least 8 [a-z,A-Z,0-9] characters</div>
                            <div *ngIf="f.rpassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.rpassword.errors.mustMatch">Passwords must match</div>
                        </div>
                        <label>Select Role</label>
                        <label for="inputPassword" class="sr-only">Select Role</label>
                                <select id="role" formControlName="role"
                                    [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                                    <option value="1">Admin</option>
                                    <option value="2">Seller</option>
                                    <option value="3">Supporter</option>
                                    <option value="4">Customer</option>

                                </select>
                                <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                                    <div *ngIf="f.role.errors.required">role is required</div>
                                </div>
                        <input type="submit" name="submit" value="submit" class="btn-register">
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="login-img">
                        <img src="assets/images/registration.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- BEGAIN FOOTER -->
    <app-footer></app-footer>
    <!-- END FOOTER -->

</body>

</html>

<ngx-spinner bdOpacity=0.9 bdColor="#d365e9a6" size="large" color="#d365e9a6" type="ball-atom" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>