<!DOCTYPE html>
<html lang="en">

<head>
    
    
</head>

<body>
    <!-- BEGIN HEADER -->
    <app-header></app-header>
    <!-- END HEADER -->
    <div class="wrapper">
    <div class="container">
        <h4 class="mt-3">Sell Books Details</h4>
        
        <div class="row">
            <div class="col-md-4 search-box mb-3">
                <input #searchBox type="text" (keyup)="searchItem(this.searchBox.value)" placeholder="search here" class="serch"> 
        </div>
        </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered ">
            <tr>
                <th>Sn No.</th>
                <th>Books Name</th>
                <th>Author Name</th>
                <th>ISBN Number</th>
                <th>Dates</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            <tr *ngFor = "let data of pageOfItems; index as i">
                <td>{{i+1}}</td>
                <td>{{data.bookname}}</td>
                <td>{{data.authorname}}</td>
                <td>{{data.isdnnumber}}</td>
                <td>{{data.Date}}</td>
                <td><button (click)="deletebook(data._id,data.frontbookimage)" class="btn-delete">Delete</button></td>
                <td><button (click)="editBookDetail(data._id)" class="btn-delete">Edit</button></td>
            </tr>
        </table>
    </div>    
<!-- *********pagination********** -->
<div class="pb-0 pt-2 text-center " >
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
            <a (click)="loadPage(1,searchBox.value)"
                class="page-link">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
            <a (click)="loadPage(pager.currentPage - 1,searchBox.value)"
                class="page-link">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
            class="page-item number-item">
            <a (click)="loadPage(page,searchBox.value)"
                class="page-link">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
            class="page-item next-item">
            <a (click)="loadPage(nextPage,searchBox.value)"
                class="page-link">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
            class="page-item last-item">
            <a (click)="loadPage(pager.totalPages,searchBox.value)"
                class="page-link">Last</a>
        </li>
    </ul>
</div>

<!-- *********pagination End********** -->
    </div>
</div>
 <!-- BEGAIN FOOTER -->
 <app-footer></app-footer>
 <!-- END FOOTER -->

</body>
</html>

<ngx-spinner
bdOpacity = 0.9
bdColor = "#d365e9a6"
size = "large"
color = "#d365e9a6"
type = "ball-atom"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>