<html>

<head>
</head>

<body class="text-center">

  <header id="nav-bar">
    <div class="container">
      <div class="top-nav">
        <a class="navbar-brand" href="#">
          <img src="assets/images/booklogo1.png" alt="Responsive image">
        </a>
      </div>
    </div>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <!-- <li class="nav-item">
              <a class="nav-link" href=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="registration"><i class="fa fa-user-plus" aria-hidden="true"></i>
                Registration</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="bookpost"><i class="fa fa-book" aria-hidden="true"></i> Post a Book</a>
            </li> -->
          </ul>
          <!-- <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="logout"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a>
        </li>    
        </ul> -->
        </div>
      </div>
      <span class="tagline">secondhandbookstore.in</span>
    </nav>

  </header>
  <section class="login">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-md-2">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin">

            <h1 class="h3 mb-3 font-weight-normal"><b>Login</b></h1>
            <label>Username</label>
            <label for="inputtext" class="sr-only">Username</label>
            <input type="text" class="form-control" placeholder="username" formControlName="username"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">username is required</div>
            </div>
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
              formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
            </div>
            <br>
            <div class="sign-up">
              <label>
                <p>You are a new user ? <a href="registration">Sign up</a></p>
                <!-- <p>Forgot password ? <a href="forgetPassword">forgot password</a></p> -->
              </label>
            </div>
            <button class="btn-sign " type="submit">Sign in</button>
          </form>
        </div>
        <div class="col-md-6">
          <div class="login-img">
            <img src="assets/images/headerimage2.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>




  <!-- BEGAIN FOOTER -->
  <app-footer></app-footer>
  <!-- END FOOTER -->

</body>

</html>

<ngx-spinner bdOpacity=0.9 bdColor="#d365e9a6" size="large" color="#d365e9a6" type="ball-atom" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>