<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
     <!-- BEGIN HEADER -->
     <app-header></app-header> 
     <!-- END HEADER -->
<div class="container" >
    <div class="row">
		<div class="col-md-4 offset-md-2 books">
      <!-- <h4 class="mb-3">MAKE PAYMENT</h4> -->
			<div class="card" >
        <div class="book-img">
            <img class="card-img-top" src="assets/images/buybook11.png" />
        </div>
        <div class="card-body">
            <div class="book-name">{{bookdata.productName}}</div>
            <!-- <div class="auther-name">{{bookdata.authorname}}</div> -->
            <!-- <div class="row">
                <div class="col-6"><div class="actual-price">₹ {{bookdata.actualprice}}</div></div>
                <div class="col-6"><div class="selling-price">₹ {{bookdata.sellingprice}}</div></div>
            </div> -->
        </div>
      </div>
		</div>
		<div class="col-md-6 align-self-end addressing ">
      <!-- <p>Delivery Charge = Free</p>
      <p>G.S.T = ₹ 2</p>
      <p>Booking Price = ₹ {{bookdata.sellingprice}}</p>
      <p>Total Payable = ₹ {{totalPayment}}</p> -->
      <div class="btn-center">
        <button *ngIf = "checkRole.update == 'update'"  mat-raised-button color="primary" (click)="update(bookdata.productId)">update </button><br>
        <button *ngIf = "checkRole.delete == 'delete'" mat-raised-button color="primary" (click)="delete(bookdata.productId)"><b>delete</b></button>
      </div>  
        </div>
	</div>
</div>  
      <!-- BEGAIN FOOTER -->
      <app-footer></app-footer>
      <!-- END FOOTER -->
</body>
</html>

<ngx-spinner
bdOpacity = 0.9
bdColor = "#d365e9a6"
size = "large"
color = "#d365e9a6"
type = "ball-atom"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>