/* 
body{
	background-image: linear-gradient(to right, #dfebec,#d365e9a6,#e271ca9f);
	background-size : cover;
	padding: 0px;
	margin: 0px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-position : center;
	margin-top: 0px !important;
	padding-bottom: 0px;
} */
.wrapper{min-height: calc(100vh - 400px);}
input:focus, select:focus{
	outline: 0;
}
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbarNav{
	float: right;

}
.navbar
{
	background-image: linear-gradient(to right, #a517ba,#5f1782);
	padding: 0 ! important;
}
.heading
{
  position: relative;
  top: 3px;
  left: 0px;
  color: #fff;
}
.navbar-brand img
{
	height: 50px;
	padding-left: 10%;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	color: #fff !important;
	font-weight: 600;
	text-align: right;
	position: relative;
}
.fa-bars
{
	color: #fff;
	font-size: 30px !important;
}
.navbar-toggler
{
	outline: none !important;
}
.top-nav{
	background-color: #fff;
	display: flex;
    justify-content: space-between;
    align-items: center;
	flex-wrap: wrap;
	padding: 0 15px;
}
.navbar-brand {
    height: auto!important;
    padding: 0!important;
}
.search-box{
	flex-basis: 330px;
	margin-top: 15px;
}
.search-box input{
	width: 100%;
	padding: 5px 15px;
    border: 1px solid #ccc;
    background-color: #efefef;
	border-radius: 22px;
}

/*------search Section----------*/



.branches{
	width: 100%;
	padding: 6px 15px;
    border-radius: 22px;
	background: #efefef;
	border: 1px solid #ccc;
}
.depart{
	width: 100%;
	padding: 6px 15px;
    border-radius: 22px;
	background: #efefef;
	border: 1px solid #ccc;
}

/*------books Section----------*/

.row{
    overflow: auto;
    padding: 0px 0px 5px 0px;
	box-sizing: border-box;
}
.footer-img
{
	width: 100%;
	height: 3px;
	position: relative;
}
.books-box
{
	align-items: stretch;
	padding: 5px;
	display: flex;
}
.books-box figure {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}
figure {
    margin: 0 0 1rem;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



@media (min-width: 576px) and (max-width: 767.98px) { 
.books-box{
	text-align: center;
	margin: 0em;
	padding: 0em;
}}
.books-box figure:before {
    z-index: 1;
    -webkit-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition: .4s all ease;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    content: "";
    border: 4px solid #f16821;
    top: 20px;
    bottom: 20px;
    opacity: 0;
    visibility: hidden;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.books-box img
{
	margin: auto;
	padding: 0px;
	width: 100px;
	height: 100px;
	margin-bottom: 8px;
}
.books-box h6{
	line-height: 0.3;
}
.books-box label{
	line-height: 0.3;
}

/*------footer Section----------*/

#footer
{
	background-image: linear-gradient(to right, #a517ba,#5f1782);
	color: #fff;	
	position: relative;
	bottom: 0;
	width: 100%;
	margin-top: 15px;
	padding: 0.5em;
	clear: both;
}
.footer-img
{
	width: 100%;
	height: 3px;
}
.footer-box
{
	padding: 3px;
}
.footer-box img
{
	width: 180px;
	height: 50px;
	margin-bottom: 20px;
}
.footer-box .fa
{
	margin-right: 8px;
	font-size: 20px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 2px;
	background-image: linear-gradient(to right, #a517ba,#5f1782);
}
.footer-box .form-control
{
	box-shadow: none ! important;
	border: none;
	border-radius: 0;
	margin-top: 25px;
	max-width: 200px;
}
.footer-box .btn-primary
{
	box-shadow: none ! important;
	border: none;
	border-radius: 0;
	margin-top: 30px;
	background-image: linear-gradient(to right, #a517ba,#5f1782);
}
hr
{
	background-color: #fff;
}
.lastline
{
	margin-bottom: 0;
	padding-bottom: 3px;
	text-align: center;
}
.navbar-collapse .btn-primary
{
	box-shadow: none ! important;
	border: none;
	border-radius: 0;
	margin-top: 0px;
	background-image: linear-gradient(to right, #a517ba,#5f1782);
	font-size: 17px !important;
	font-weight: 600;
}

/*------registration Section----------*/
.form-register {
    width: 100%;
    max-width: 380px;
    padding: 15px;
    margin: 0 auto;
}
.form-register label {
    margin-bottom: 0px;
    font-size: 12px;
    margin-left: 16px;
    font-weight: 600;
}
.form-register h1{
	color: #5f1782;
}

.btn-register
{
	border-radius: 1.5rem;
	border:none;
	width: 100%;
	background: #a517ba;
	font-weight: 600;
	color: #fff;
	margin-top: 10px;
	padding: 5px;
}


/*------login Section----------*/
.login-img{
	padding-bottom: 100%;
	position: relative;
}
.login-img img{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%,-50%);
	object-fit: contain;
}
.sign-up{
	text-align: right;
}
.sign-up label{
	display: block;
    margin-bottom: 0;
}
.sign-up a:hover{
	text-decoration: none;
}
.form-signin {
	width: 100%;
	max-width: 380px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin h1{
  text-align: center;
  color: #5f1782;
}
form {
    display: block;
    margin-top: 0em;
}
.btn-sign
{
	border-radius: 1.5rem;
    border: none;
    width: 100%;
    background: #a517ba;
    font-weight: 600;
    color: #fff;
    margin-top: 5px;
    margin-left: 0;
}


/*------form Section----------*/

h3{
	font-size:5vw;
	text-align: left;
	padding: 10px;
}

.col-sm-4{
	background-color:lavender;
	padding: 15px;
	text-align: center;
}
.col-sm-8{
	background-color:lavenderblush;
	padding: 7px;
}

lable{
	width: 60%;
}

.btn-post
{
	float: center;
	height:40px;
	border-radius: 1.5rem;
	border:none;
	width: 25%;
	background: #8400ff;
	font-weight: 600;
	color: #fff;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

 input[type="text"], 
 input[type="email"],
 input[type="number"],
 input[type="password"],
  textarea,
select {
  width: 100%;
  border: 1px solid #ccc;
  background: #e5e5e5;
  margin: 0 0 5px;
  padding: 6px 15px;
  border-radius: 1.3rem;
  font-size: 14px;
}
textarea{
	height: 100px;
}

/*--------account section -----*/

button{
	text-align: center;
	padding: 10px;
}
.justify-content-center{
	width: 120%;
	
}
.justify-content-center label{
	width: 100%;
}

#btn-primary{
	float: center;
	border-radius: 1.5rem;
	border:none;
	background: #a517ba;
	color: #fff;
}
#btn-check{
	float: left;
	border-radius: 1.5rem;
	border:none;
	margin-top: 200px;
	margin-block-start: 10px;
	color: #fff;
}
#btn-selling{
	float: left;
	border-radius: 1.5rem;
	border: none;
	margin-block-start: 10px;
	color: #fff;
}

table, th, td {  
    border: 1px solid black;  
    border-collapse: collapse;  
}  
th, td {
    padding: 10px;
}
.col-md-12 .col-md-6{
	
	background-color: #4CAF50;
}

/*--------selling section -----*/

.search-box2 input{
	width: 100%;
	margin: 10px;
	padding: 5px;
	border: none;
	border-radius: 1.3rem;
}
.btn-delete{
	border-radius: 1.5rem;
}

button{
	margin-right: 10px;
	margin: 10px;
	background: #600668;
	color: #fff
 
}
table{
    
	text-size-adjust : 10px;
	border: 1px solid rgb(22, 8, 8);
	border: none;
}

table tr{
	background-color: #efefef;
    color: #404040;
    text-align: center;
	
}
table th{
	background-color: #623982;
    color: #fff;
	
}
.table button{
    padding: 3px 15px;
    border: 0;
}

/*--------buy section -----*/
.pagination {
    margin-bottom: 0;
}
.books{
	margin: 20px 0 0;
}
.books .card{
	border: 0!important;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 7px 0 rgba(0, 0, 0, 0.07);
}
.books .card-body {
	padding: 10px!important;
	background-color: #f5f5f5;
}
.books .book-img{
	padding-bottom: 105%;
	position: relative;
	overflow: hidden;
	background-color: #f5f5f5;
}
.books .book-img img{
	position: absolute;
    top: 50%;
    left: 50%;
	width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(0.95);
    object-fit: contain;
}
.books .actual-price {
    font-size: 16px;
    font-weight: 600;
	color: #585858;
	display: inline-block;
    padding: 0 5px;
    position: relative;
}
.books .actual-price::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #585858;
}

.books .selling-price {
    font-size: 16px;
    font-weight: 600;
    color: #cc0000;
}
.books .book-name{
	font-size: 18px;
    color: #2f2f2f;
    margin-bottom: 0;
    font-weight: 600;
	text-transform: capitalize;
	text-align: center;
	line-height: 1.1;
}
.books .auther-name{
	font-size: 12px;
	color: #444;
	text-align: center;
	font-weight: 600;
	text-transform: capitalize;
	line-height: 1.1;
}

.books-deails{
	
	text-align: center;
}
.books-deails h6{
	line-height: 0.8;
}
.books-deails label{
	line-height: 1.0;
}

.addressing{
	width: 100%;
	text-align: left;
}

.addressing p{
	font-size: 14px;
    font-weight: 600;
	color: #2f2f2f;
	margin-bottom: 0.4rem;
}
.bookimg{
	width: 30%;	
	margin: 10px;
	padding: 5px;
	position: left;
}

h6{
  margin-top: 2px;
	line-height: 0.8;
}

.books-deails{
	
	text-align: center;
}
.books-deails h6{
	line-height: 0.8;
}
.books-deails label{
	line-height: 0.6rem;
}
.addressing input[type="text"], 
input[type="email"],
input[type="number"],
textarea[type="text"],
input[type=password]
 {
 width: 100%;
 border: 1px solid #ccc;
 background: #e5e5e5;
 margin: 0 0 5px;
 padding: 10px 15px;
 border-radius: 1.3rem;
}



.addressing form{
	width: 100%;
	max-width: 380px;
	margin: 0 auto;
}
.addressing label{
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 0.4px;
	display: block;
	margin-left: 16px;
}
.addressing button{
	width: 45%;
	margin-top: 10px;
	color: #fff;
	padding: 10px;
	background: rgb(100, 11, 117);
	border-radius: 1.5em;
	border: 0;
}
.user-detail{
	margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
	padding: 20px 30px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 7px 0 rgba(0, 0, 0, 0.07);
}
.user-detail label{
	font-weight: 600;
}
.bookimg{
	width: 30%;	
	margin: 10px;
	padding: 5px;
	position: left;
}

button:focus{
	outline: 0;
}
.navbar-dark .navbar-toggler {
    border: 0!important;
}
.buybutton {
  background-color: rgba(91, 14, 155, 0.842);
  color: white;
  
  width: 40%;
  border-radius: 1.3em;
 
}

.justify-content-center button{
	margin-top: 20px;
}

.page-link {
    background-color: #efefef!important;
}
.tagline{
	display: none;
}
.book-post label{
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 0;
    margin-left: 16px;
}

/* responsive */
@media (min-width: 768px){
	.navbar {
		border-radius: 0!important;
	}
}
@media (max-width: 767px){
	#nav-bar {
		background: #fff;
	}
	.top-nav {
		justify-content: center;
	}
	.search-box {
		flex-basis: 280px;
		margin: 5px auto;
	}
	.navbar {
		margin-top: 10px;
	}
	.navbar-toggler {
		margin-left: auto;
	}
	.books .card {
		margin-bottom: 15px;
	}
	.tagline{
		position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 40px;
    padding-left: 15px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
	}
	.books .selling-price {
		padding: 0 5px;
	}
	.books .book-name {
		font-size: 14px;
	}
	.books .actual-price {
		font-size: 13px;
		padding: 0 2px;
	}
	.books .selling-price {
		font-size: 13px;
		padding: 4px 0;
	}
	.books .card-body {
		padding: 5px!important;
		background-color: #f5f5f5;
	}
	#footer p{
		font-size: 13px;
		font-weight: 600;
	}
	.btn-center{
		text-align: center;
		display: flex;
    justify-content: center;
	}
	.user-detail {
		margin: 20px;
	}
	.user-detail label {
		margin-bottom: 0;
	}
	.pagination {
		justify-content: center;
	}
	#footer {
		padding: 0;
	}
}
