<!-- <html>
<head>
</head>
<body>
    <div id="body-box">
        <section id="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#"><img src="assets/images/booklogo1.png" alt="Responsive image"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="mybtn">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="newhome">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="account">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="bookpost">Post a Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
        
        <section id="search">
          
            <div class="container">
                <div class="row">
                    <div class="col-md-4 search-box">
                        <input #searchBox type="search" (keyup)="searchItem(this.searchBox.value)"
                            placeholder="search here">
                    </div>
                    <div class="col-md-4 search-box">
                        <select #category class="depart" (change)="categoryItem(this.category.value)">
                            <option value="">Select category</option>
                            <option value="Engineering">Engineering</option>
                            <option value="Medical">Medical</option>
                            <option value="Graduation">Graduation</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="col-md-4 search-box">
                        <select #branch class="branches" (change)="branchItem(this.branch.value)">
                            <option value="">Select Department</option>
                            <option value="ME">Mechinical Engineering</option>
                            <option value="CSE">Computer Engineering</option>
                            <option value="CE">Civil</option>
                            <option value="EE">Electrical</option>
                            <option value="other">Others</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>

        
        <section id="books">
            <img src="/assets/images/wave33.png" class="footer-img">
            <div class="container">
                <div class="row">
                    <div class="books-box rounded mx-auto d-block" *ngFor="let data of pageOfItems">
                        <figure>
                            <a href="buybookpayment" (click)="buyBookDetail(data._id)"><img class="img-fluid"
                                    src="{{data.frontbookimage}}" /></a>
                            
                            <div>
                                <h5><b> {{data.bookname}}</b></h5>
                                <h6>Author - {{data.authorname}}</h6>
                                <h6>Actual Price - {{data.actualprice}}/-</h6>
                                <h6>Selling Price - {{data.sellingprice}}/-</h6>
                            </div>
                        </figure>
                    </div>
                </div>
               
                <div class="pb-0 pt-2 text-center ">
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
                            <a (click)="loadPage(1,searchBox.value,category.value,branch.value)"
                                class="page-link">First</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
                            <a (click)="loadPage(pager.currentPage - 1,searchBox.value,category.value,branch.value)"
                                class="page-link">Previous</a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
                            class="page-item number-item">
                            <a (click)="loadPage(page,searchBox.value,category.value,branch.value)"
                                class="page-link">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
                            <a (click)="loadPage(nextPage,searchBox.value,category.value,branch.value)"
                                class="page-link">Next</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
                            <a (click)="loadPage(pager.totalPages,searchBox.value,category.value,branch.value)"
                                class="page-link">Last</a>
                        </li>
                    </ul>
                </div>

               
            </div>
        </section>
    </div>
    >
    <app-footer></app-footer>
    
</body>

</html>

<ngx-spinner bdOpacity=0.9 bdColor="#d365e9a6" size="large" color="#d365e9a6" type="ball-atom" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner> -->



<!-- *********************************************************************************************************************** -->


<html>
<head> 	</head>
<body>
<div id="body-box">
        <header id = "nav-bar">
			<div class="container">
				<div class="top-nav">
					<a class="navbar-brand" href="#">
						<img src="assets/images/booklogo1.png"  alt="Responsive image">
					</a>
				</div>
			</div>

			  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
				  <div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
				  <ul class="navbar-nav">
					<li class="nav-item">
					  <a class="nav-link" href="newhome"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="account"><i class="fa fa-user" aria-hidden="true"></i> Account</a>
					</li> -->
					<!-- <li class="nav-item">
					  <a class="nav-link" href="registration"><i class="fa fa-user-plus" aria-hidden="true"></i> Registration</a>
					</li> -->
					<li class="nav-item" *ngIf = "checkRole.create == 'create'">
					  <a class="nav-link" href="bookpost"><i class="fa fa-book" aria-hidden="true"></i> Post a Book</a>
					</li>    
				  </ul>
				  <ul class="navbar-nav ml-auto">
					<li class="nav-item">
					  <a class="nav-link" href="logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
					</li>    
				  </ul>
				</div>  
				  </div>
				  <span class="tagline">secondhandbookstore.in</span>
			  </nav>
			  
			</header>
	   <!-- ----- Search section------- -->
        <section id="search">
				<!-- <img src="assets/images/wave33.png" class="footer-img"> -->
				<div class="container">
					<!-- <div class="row align-items-center justify-content-end  mt-2">
						<div class="col-md-3 search-box">
							<input #searchBox type="text" (keyup)="searchItem(this.searchBox.value)" placeholder="search here">
						
						</div>
						<div class="col-md-3 search-box">
							<select #category class="depart" (change)="categoryItem(this.category.value)">
								<option value=""><b>Select category</b></option>
								<option value="B.tech-B.E">B.tech-B.E</option>
								<option value="B.A">B.A</option>
								<option value="B.Com">B.Com</option>
								<option value="B.Sc">B.Sc</option>
								<option value="B.C.A">B.C.A</option>
								<option value="B.Ed">B.Ed</option>
								<option value="M.tech-M.E">M.tech-M.E</option>
								<option value="M.C.A">M.C.A</option>
								<option value="M.B.A">M.B.A</option>
								<option value="M.Com">M.Com</option>
								<option value="M.A">M.A</option>
								<option value="M.Sc">M.Sc</option>
								<option value="M.B.B.S">M.B.B.S</option>
								<option value="L.L.B">L.L.B</option>
								<option value="C.A">C.A</option>
								<option value="Diploma-Polytechnic">Diploma-Polytechnic</option>
								<option value="I.T.I">I.T.I</option>
								<option value="Railway">Railway</option>
								<option value="SSC">SSC</option>
								<option value="Banking">Banking</option>
								<option value="I.A.S">I.A.S</option>
								<option value="Defence">Defence</option>
								<option value="1-12(Class)">1-12(Class)</option>
								<option value="P.hd">P.hd</option>
								<option value="M.Phill">M.Phill</option>
								<option value="others">others</option>
							</select>
						</div>
						<div class="col-md-3 search-box">
							<select #branch class="branches" (change)="branchItem(this.branch.value)">
								<option value=""><b>Select Department</b></option>
								<option value="Civil-Engineering">Civil-Engineering</option>
								<option value="Mechnical-Engineering">Mechnical-Engineering</option>
								<option value="Computer-Engineering">Computer-Engineering</option>
								<option value="Electrical-Engineering">Electrical-Engineering</option>
								<option value="Information-technology">Information-technology</option>
								<option value="Architecture-Engineering">Architecture-Engineering</option>
								<option value="Automobile-Engineering">Automobile-Engineering</option>
								<option value="Math">Math</option>
								<option value="Physics">Physics</option>
								<option value="Chemistry">Chemistry</option>
								<option value="Biology">Biology</option>
								<option value="English">English</option>
								<option value="Hindi">Hindi</option>
								<option value="History">History</option>
								<option value="Civics">Civics</option>
								<option value="Geography">Geography</option>
								<option value="Social-Science">Social-Science</option>
								<option value="Reasoning">Reasoning</option>
								<option value="Aptitude">Aptitude</option>
								<option value="General-Knowledge">General-Knowledge</option>
								<option value="Anatomy">Anatomy</option>
								<option value="Biochemestry">Biochemestry</option>
								<option value="other">Physilogy</option>
								<option value="Physilogy">Others</option>
								<option value="other">Others</option>
							</select>
						</div>
					</div> -->
				</div>
			</section>
			<!-- -----Book section------- -->
			<section id="books" class="books">
				<!-- <img src="/assets/images/wave33.png" class="footer-img" alt="Responsive image"> -->
				<div class="container">
					<div class="row">
						<!-- <div class="books-box rounded mx-auto d-block" *ngFor="let data of pageOfItems">
							<figure>
								<a href="buybook"><img class="img-fluid" src="{{data.frontbookimage}}" /></a>
								<div>
									<h5><b> {{data.bookname}}</b></h5>
									<h6>Author - {{data.authorname}}</h6>
									<h6>Actual Price - {{data.actualprice}}/-</h6>
									<h6>Selling Price - {{data.sellingprice}}/-</h6>
								</div>
							</figure>
						</div> -->
						<div class="col-md-4 col-lg-3 col-6" *ngFor="let data of pageOfItems">
							<div class="card" >
								<div class="book-img">
									<a href="buybookpayment" (click)="buyBookDetail(data.productId)"><img class="card-img-top" src="assets/images/buybook11.png" /></a>
								</div>
								<div class="card-body">
									<div class="book-name">{{data.productName}}</div>
									<div class="auther-name"></div>
									<div class="row">
										<!-- <div class="col-6"><div class="actual-price">₹ {{data.actualprice}}</div></div> -->
										<!-- <div class="col-6"><div class="selling-price">₹ {{data.sellingprice}}</div></div> -->
									</div>
								</div>
							  </div>
						</div>
					</div>
					<!-- *********pagination********** -->
							<!-- <div class="pb-0 pt-2 text-center " >
								<ul *ngIf="pager.pages && pager.pages.length" class="pagination ">
									<li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item ml-auto">
										<a (click)="loadPage(1,searchBox.value,category.value,branch.value)"
											class="page-link">First</a>
									</li>
									<li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
										<a (click)="loadPage(pager.currentPage - 1,searchBox.value,category.value,branch.value)"
											class="page-link">Previous</a>
									</li>
									<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
										class="page-item number-item">
										<a (click)="loadPage(page,searchBox.value,category.value,branch.value)"
											class="page-link">{{page}}</a>
									</li>
									<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
										class="page-item next-item">
										<a (click)="loadPage(nextPage,searchBox.value,category.value,branch.value)"
											class="page-link">Next</a>
									</li>
									<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
										class="page-item last-item">
										<a (click)="loadPage(pager.totalPages,searchBox.value,category.value,branch.value)"
											class="page-link">Last</a>
									</li>
								</ul>
							</div> -->
						<!-- *********pagination End********** -->
				</div>
			</section>

<!-- BEGAIN FOOTER -->
<app-footer></app-footer>
<!-- END FOOTER --></div>
</body>
</html>

<ngx-spinner
bdOpacity = 0.9
bdColor = "#d365e9a6"
size = "large"
color = "#d365e9a6"
type = "ball-atom"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>