/* You can add global styles to this file, and also import other style files */
/* body{
	background-image: linear-gradient(to right, #dfebec,#d365e9a6,#e271ca9f);
	background-size : cover;
	background-position : center;
	margin-top: 1px !important;
} */