<!DOCTYPE html>
<html lang="en">

<head>
    <title>Job</title>
    <link rel="stylesheet" type="text/css" href="assets/home.css">
</head>

<body>
    <!-- BEGIN HEADER -->
    <app-header></app-header>
    <!-- END HEADER -->
    <div class="container" >
        <div class="row">
          <div class="col-md-6 offset-md-3 user-detail">
            <div class="row ">
              <div class="col-md-4 offset-md-2">
                <label> Name</label>
              </div>
              <div class="col-md-6">
                <p>{{tempdata.username}}</p>
              </div>
            </div>
            <div class="row ">
                <div class="col-md-4 offset-md-2">
                  <label> Mobile Number</label>
                </div>
                <div class="col-md-6">
                  <p>{{tempdata.mobilenumber}}</p>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-4 offset-md-2">
                  <label> Email</label>
                </div>
                <div class="col-md-6">
                  <p>{{tempdata.email}}</p>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-4 offset-md-2">
                  <label>Nick name</label>
                </div>
                <div class="col-md-6">
                  <p>{{tempdata.nickname}}</p>
                </div>
              </div>
              <div class="btn-center">
                  <button type="submit" id="btn-check" (click)='buybookdetail()'>Check buy book details</button>
              </div>
              <div class="btn-center">
                  <button type="submit" id="btn-selling" (click)='sellbookdetail()'>Check sell book details</button>
              </div>
          </div>
        </div>
    </div>

 <!-- BEGAIN FOOTER -->
 <app-footer></app-footer>
 <!-- END FOOTER -->

</body>

</html>

<ngx-spinner
bdOpacity = 0.9
bdColor = "#d365e9a6"
size = "large"
color = "#d365e9a6"
type = "ball-atom"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>