<html>
<head>
</head>

<body class="text-center">

  <header id = "nav-bar">
    <div class="container">
      <div class="top-nav">
        <a class="navbar-brand" href="#">
          <img src="assets/images/booklogo1.png"  alt="Responsive image">
        </a>
      </div>
    </div>

      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="registration"><i class="fa fa-user-plus" aria-hidden="true"></i> Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="bookpost"><i class="fa fa-book" aria-hidden="true"></i> Post a Book</a>
        </li>    
        </ul>
        <!-- <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="logout"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a>
        </li>    
        </ul> -->
      </div>  
        </div>
        <span class="tagline">secondhandbookstore.in</span>
      </nav>
      
    </header>
	  <section class="login">
    <div class="container">
      <div class="row align-items-center">
      <div class="col-md-6 order-md-2">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin">

          <h1 class="h3 mb-3 font-weight-normal"><b>Forgot Password</b></h1>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
          <br>
          <br>
          <button class="btn-sign " type="submit">Send</button>
        </form>
      </div>  
      <div class="col-md-6">
        <div class="login-img">
          <img src="assets/images/forget_password.png" alt="">
        </div>
      </div>
    </div>
    </div>
    </section>
    
  

  
    <!-- BEGAIN FOOTER -->
 <app-footer></app-footer>
 <!-- END FOOTER -->

</body>

</html>

<ngx-spinner
bdOpacity = 0.9
bdColor = "#d365e9a6"
size = "large"
color = "#d365e9a6"
type = "ball-atom"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>